[tool]
[tool.poetry]
name = "de-{{{projectName}}}"
version = "{{packageVersion}}"
description = "{{appName}}"
keywords = ["OpenAPI", "OpenAPI-Generator", "{{{projectName}}}", "App", "API"]
homepage = "{{packageUrl}}"
authors = ["BundesAPI <kontakt@bund.dev>"]
packages = [
  { include = "{{namespace}}"}
]

[tool.poetry.dependencies]
python = ">=3.6"
python-dateutil = "*"
urllib3 = ">=1.25.3"

[tool.poetry.urls]
"Bug Tracker" = "{{packageUrl}}/issues"

[tool.poetry.dev-dependencies]
black = "^21.7b0"
pytest = "^6.2.4"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

